.form {

  &_block {
    padding: 16px 24px 44px;
    border-bottom: 1px solid #edeff1;

    &_item {
      width: 45%;
    }
  }
  
  &_title {
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 24px;
    color: #5a607d;
  }
  
}

.add-new-card {
  border-radius: 8px;
  background: #EAEFFF;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 16px;
  color: #6367F6;
  padding: 4px 12px;
  border: none;
  cursor: pointer;

  img {
    margin-right: 8px;
  }
}

.form_block_item {
  border-radius: 10px;
  border: 1px solid #EDEFF1;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: start;

  &-title {
    font-size: 12px;
    font-family: "Inter", sans-serif;
    line-height: 16px;
    color: #5A607D;
    font-weight: 500;
  }
}

.tab-panel {
  padding: 12px 0 0;
}